.ref-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background: rgb(0, 0, 0,0);
    z-index: 10;
  }
  
  .ref-button {
    display: flex;
    height: 100%;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0,0);
    border-radius: 10px;
    box-shadow: rgba(255, 0, 0, 0.7);
    text-align: center;
  }
  
  .mail-icon {
    width: 50px; /* Установите подходящий размер */
    height: auto;
  }
  
  .friends-text {
    margin-top: 10px;
    width: 60%; /* Установите подходящий размер */
    height: auto;
  }
  